.issue {
  border: 1px solid #ddd;
  display: flex;
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
}

.issue_meta {
  text-decoration: none;
  padding-left: 2rem;
  font-size: 14px;
  color: #999;
}

.issue_meta a {
  text-decoration: none;
}

.issue_meta > a:hover {
  color: #000;
}

.issue__number {
  font-size: 14px;
  color: #999;
  margin-right: 0.5rem;
}

.issue__title {
  font-weight: bold;
}

.issue .issue__user {
  margin-right: 0.5rem;
}

.issue__summary {
  padding-left: 0.5rem;
}

.issue__body {
  word-wrap: break-word;
  overflow: hidden;
}

.octicon {
  margin-right: 10px;
}

.bottom__button {
  margin: 25px;
  padding: 5px;
}

.bottom__button button {
  margin-left: 10px;
}

.search_tag {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .issue_meta {
    text-decoration: none;
    padding-left: 0rem;
    font-size: 14px;
    color: #999;
  }
}
